/*
	© Copyright 2011-2016 Jeremy Gross
	jeremykentbgross@gmail.com
	Distributed under the terms of the GNU Lesser GPL (LGPL)
	
	This file is part of EmpathicCivGameEngine™.
	
	EmpathicCivGameEngine™ is free software: you can redistribute it and/or modify
	it under the terms of the GNU Lesser General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.
	
	EmpathicCivGameEngine™ is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU Lesser General Public License for more details.
	
	You should have received a copy of the GNU Lesser General Public License
	along with EmpathicCivGameEngine™.  If not, see <http://www.gnu.org/licenses/>.
*/

/*!!
	* document: file
	* description: This file is the css for the welcome screen for the ECGE.
*/

body
{
	background-color : #FFFFFF;
	font-family : Sans-serif;
	font-weight:bold;
	font-size : 150%;
}

#portrait
{
	width : 300px;
}

h1
{
	text-align: center;
	background : #775653;
	color : #FFFFFF;
	margin : 10px;
	border : 2px solid black;
}

#warn
{
	font-size : 250%;
	font-family : Sans-serif;
	color : #FF0000;
	margin : 0;
}

#notices li
{
	font-size : 150%;
	font-family : Sans-serif;
	color : #000000;
	margin : 0;
}

#LinkToStart, #LinkToDocs
{
	font-size : 150%;
	font-family : Sans-serif;
	color : #00FF00;
	margin : 0;
}

#controls, #controls th, #controls td
{
	border : 1px solid black;
	background : #775653;
	color : #FFFFFF;
}

#faq p
{
	margin : 0;
	font-size : 50%;
}

#copyright
{
	font-size : 50%;
	background : #FF0000;
	color : #FFFFFF;
}
