body
{
	background-color : #000000;
}

#appNameContainer
{
	background-color : #0000FF;
	color : #FFFFFF;
	
	//display : none;
}

#inputDirectionsContainer
{
	background-color : #FF0000;
	color : #000000;
	
	//display : none;
}

#defaultAssetsContainer
{
	//visibility : hidden;
	display : none;
}

#graphicsContainer
{
	position : relative;
}

#chatContainer
{
	position : absolute;
	margin : 10px;
	bottom : 0px;
	left : 0px;
	width : 50%;
	color : #ffffff;
	background-color : #000000;
	border-color : #ffff00;
	opacity : 0.5;
	border-style : outset;
	border-color : #ffff00;
}

#chatContainer p
{
	margin : 0px;
	//opacity : 1.0;
}

#chatLog
{
	overflow-y: scroll;
	overflow-x: hidden;
	max-height : 100px;
}

/*TODO classes for chat from team, enemy, general, etc*/

.netConnected
{
	color : #00FF00;
	font-weight : bold;
	text-decoration : underline;
}

.netDisconnected
{
	color : #FF0000;
	font-weight : bold;
	text-decoration : underline;
}
