body
{
	background-color : #FFFFFF;
	font-family : Sans-serif;
}

#portrait
{
	width : 300px;
}

h1
{
	text-align: center;
	background : #C0C0C0;
	color : #000000;
}

#warn
{
	font-size : 250%;
	font-family : Sans-serif;
	color : #FF0000;
	margin : 0;
}

#notices li
{
	font-size : 150%;
	font-family : Sans-serif;
	color : #000000;
	margin : 0;
}

#LinkToStart
{
	font-size : 150%;
	font-family : Sans-serif;
	color : #00FF00;
	margin : 0;
}

#controls, #controls th, #controls td
{
	border : 1px solid black;
}

#faq p
{
	margin : 0;
	font-size : 50%;
}

#copyright
{
	font-size : 50%;
	background : #FF0000;
	color : #FFFFFF;
}